body {
    background: linear-gradient(to right, #ffcc00, #ff6600);
            /* Määrittele värit ja liukuvärin suunta (tässä vaakasuora)  
    height: 100vh; Tämä asettaa taustavärin täyttämään koko näytön korkeuden */


                background: radial-gradient(circle at 90% 10%, #21A7F3, #82FB36, #FF48CB);
            height: 100vh;

}

h1 {
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
