body {
        background: radial-gradient(circle at 90% 10%, #ffcc00, #ff6600), #d2e2f2;
        font-family: Roboto, sans-serif;
}

h1 {
    color: #333;
}

h2 {
    color: #44107E;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
